{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container mt-5">
    <h2>Analysis Data</h2>
    <hr>
    
    <!-- Make the table responsive and scrollable -->
    <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ad ID</th>
                    <th>Ad Name</th>
                    <th>Status Comparison</th>
                    <th>Time Comparison</th>
                    <th>Creative Comparison</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the list of dictionaries -->
                {% for row in analysis_df %}
                    <tr>
                        <td>{{ row.ad_id }}</td>
                        <td>{{ row.ad_name }}</td>
                        <td>{{ row.status_comparison }}</td>
                        <td>{{ row.time_comparison }}</td>
                        <td>{{ row.creative_comparison }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <br>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
