{% extends 'user/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>This is home page</h1>

<!-- <style>
    .scrollable-checkboxes {
        max-height: 200px; /* Adjust this value as needed */
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }
</style> -->

<!-- Scrapped History Table -->
<!-- <div class="container mt-5">
    <h2>Scrapped History</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SL</th>
                <th>Video ID</th>
                <th>Video Posted Date</th>
                <th>Account Name</th>
                <th>Video Description</th>
                <th>Video Tags</th>
                <th>Scrapping Date</th>
            </tr>
        </thead>
        <tbody>
            {% for record in scrapped_history %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.video_id }}</td>
                    <td>{{ record.post_date }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.video_description }}</td>
                    <td>{{ record.video_tags }}</td>
                    <td>{{ record.created_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> -->

<!-- {% else %}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <br>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div> -->
{% endif %}

{% endblock %}